#lightbox-container{
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    opacity: 0.9;
    background: black;
    width: 100%;
    height: 100%;
}
#embedded-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}
