#lightbox-container{
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    opacity: 1;
    background: black;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
#embedded-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}
