.offer-detail{
    font-size: 30px;
    color: white;
}
#conteneur-image, #offre-resume{
    margin-right: 3%;
}
#offre-details{
    padding-top: 2%;
}
#flexible-div{
    display: flex;
}
#conteneur-info{
    background: black;
    height: 100%;
}
